.banner {
  padding: 100px;
  background-image: url(https://www.sony.co.in/image/de4b8f2d560552005530ceada60a8084?fmt=png-alpha&wid=2000&qlt=85);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}
.desc {
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
  max-width: 1000px;
}
.button {
  font-size: 17px;
  font-weight: 500;
  border-width: 1px;
  max-width: 90px;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: rgba(99, 88, 252, 0);
}
@media screen and (max-width: 500px) {
  .banner {
    padding: 50px;
  }
}
