
.items{
    padding :20px;
    display: flex;
    overflow-x: scroll;
    
}
.item{
    padding: 10px;
    max-width: 200px;
    max-height: 300px;
    cursor: pointer;
}
.image{
    height: 200px;
    width: 200px;
}
.name{
    font-size: 14px;
    padding:10px 2px ;
    color: rgb(46, 46, 46);
}
.ver{
    font-weight: 500;
    font-size: 14px;
    padding:0px 2px ;
}
.price{
    font-size: 16px;
    color: grey;
    padding-top:5px
}