.wrapper {
  background-image: url(https://www.sony.co.in/image/e685e97f64b37ec5a5ca09a77c79433b?fmt=png-alpha&wid=2000&qlt=85);
  background-size: contain;
}
.wrapper h1 {
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  margin-bottom: -10px;
}
.wrapper-items {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
}
